@import "../../../settings";

.disabled {
  outline: none;

  &:hover, &:focus, &:active {
    background-color: unset;
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: unset;
  }
}

.adaptive {
  @include adpt($stab-r){
    padding: 10px;
  }
}
